[submodule "themes/hyde-x"]
	path = themes/hyde-x
	url = https://github.com/zyro/hyde-x.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
